/* App and Core Settings */
:root {
  --button-size: 1em;
  --button-color: hsl(360, 0, 100%);
  --button-hover-color: hsl(360, 2%, 60%);
}

main {
  min-height: 100vh;
  color: #fff;
}

p,
h4,
h1,
h2 {
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1.5em;
}

#main-body {
  max-height: 100vh;
  max-width: 75vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

h1 {
  font-size: 4rem;
  margin: 0;
  text-align: center;
  position: absolute;
  padding: 0.25em;
  color: rgb(183, 118, 244);
  text-shadow: 2px 2px 10px rgb(171, 75, 250);
  top: 3.5vh;
  left: 2vw;
}

h2 {
  text-align: center;
  color: rgb(183, 118, 244);
  text-shadow: 2px 2px 10px rgb(171, 75, 250);
  margin: 0.25em 0;
  font-size: 2rem;
  line-height: 2.5rem;
  min-height: 2.5rem;
}

button {
  background-color: rgb(171, 75, 250);
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: 0;
}

button:hover {
  background-color: rgb(135, 43, 211);
  transition: background-color 1s;
}

input {
  background-color: rgba(45, 45, 45, 0.25);
  color: white;
  border: 0;
  border-bottom: 2px solid rgb(183, 118, 244);
}

input:focus {
  outline: none;
  background-color: rgba(45, 45, 45, 1);
  transition: background-color 1.2s;
}



img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.3;
}

ul {
  list-style: none;
  overflow-y: scroll;
  background-color: rgba(17, 17, 17, 0.5);
  background-image:
    linear-gradient(rgba(17, 17, 17, 0.85), rgba(30, 30, 30, 0.85));
  height: 60vh;
  min-width: 25vw;
  position: relative;
  border-radius: 1em;
  padding: 1em 0;
  margin: 0.25em 2em;
}

::-webkit-scrollbar {
  width: 1em;
  border-radius: 1em;
}

::-webkit-scrollbar-track {
  background: rgba(17, 17, 17, 0.5);
  border-radius: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: rgba(45, 45, 45, 1);
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul li {
  padding: 1em 0.5em 1em 2em;
}

/* Background Settings */
.bg-div {
  position: absolute;
  background-color: #380000;
  width: 100%;
  z-index: -3;
  height: 100%;
}

.bg-effect {
  opacity: 0.25;
  rotate: 180deg;
  filter: blur(2.5px);
}

.dj-img {
  width: 100%;
  z-index: -2;
  filter: blur(2.5px);
}

/* Login Settings */
.login-section {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 2%;
  right: 0%;
}

.login-section button {
  font-size: 1.5rem;
  margin: 0.25em 0;
  border-radius: 0.5rem;
  padding: 1rem;
}

/* Playlist Settings */
.form-playlist {
  max-width: 25vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.user-playlist {
  display: flex;
  flex-direction: column;
}

.search-section {
  display: flex;
  flex-direction: column;
  margin: 0 0.5em;

}

.search-section input,
.form-playlist button {
  font-size: 1.25rem;
  border-radius: 0.5rem;
}

.form-playlist button {
  margin: 0 0.5em;
  padding: 1rem;
}

.search-section label {
  color: rgb(183, 118, 244);
}

.search-section input {
  padding: 0.5rem;
}

/* Search Bar Settings */
.search-bar {
  min-height: 10vh;
  margin: 10vh 0 3em 0;
  display: flex;
  align-items: center;
}

.search-bar input,
.search-bar button {
  font-size: 1.75rem;
  border-radius: 0.5rem;
  margin: 0 0.25em;
  padding: 1rem;
}

/* Search Result Settings */
.lists-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  align-content: space-between;
  width: 100%;
}

.lists-section>div {
  width: 40%;
}

/* Track Settings */
.track-button {
  border-radius: 50%;
  height: 2em;
  margin: auto 0;
  aspect-ratio: 1/1;
  /* border: 0; */
  font-size: 1.05rem;
}

/* Tracklist Settings */

.default-track {
  display: flex;
  justify-content: space-between;
}

.list-item {
  background-color: hsla(1, 0%, 0%, 0.4);

}

/* Media Queries */
@media only screen and (max-width: 1400px) and (min-width:1000px) {
  #main-body {
    max-width: 85vw;
  }
}

@media only screen and (max-width:1000px) {
  #main-body {
    max-width: 100vw;
  }
}